export AI_PROVIDER=
export AI_API_KEY=
export AI_MODEL=
export APP_NAME=
export OPENAI_BASE_URL=https://api.openai.com/v1
export ANTHROPIC_BASE_URL=https://api.anthropic.com
export GITHUB_BASE_URL=https://api.github.com
export GITHUB_TOKEN=
export GITHUB_REPOSITORY=
export GITHUB_RUN_ID=
export JIRA_API_KEY=
export JIRA_BASE_URL=https://your-company.atlassian.net
export MODE=release-summary
export PR_COMMENT_ENABLED=true
export REPOS_DIR='./repos'
export SLACK_MESSAGE_ENABLED=true
export SLACK_WEBHOOK_URL=
